@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumSquareNeo-Variable";
  color: white;
  background-color: black;
}

#mainLogo {
  font-family: "establishRetrosansOTF";
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: auto;
  text-align: center;
  color: #fff;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 5;
  background-color: black;
  padding: 5px 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
